.searchBarContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.searchBar {
  font-size: 3rem;
}

.searchBarContainer button {
  font-size: 3rem;
  background: rgb(165, 32, 218);
  color: white;
  padding: 0.2rem;
}

.cardContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 300px;
}

.card p {
  text-align: center;
}
